<!DOCTYPE html>
<!--타임리프 선언 (사용하겠다는 선언)-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <title>Title</title>
</head>
<!--<p class="test">test color</p>-->
<body th:align="center">
<h1>게시글 목록</h1>
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
    <tr>
        <th bgcolor="#add8e6" width="100">번호</th>
        <th bgcolor="#add8e6" width="200">제목</th>
        <th bgcolor="#add8e6" width="150">작성자</th>
        <th bgcolor="#add8e6" width="150">등록일</th>
        <th bgcolor="#add8e6" width="100">조회수</th>
    </tr>

    <tr th:each="board :${boardList}">

        <td th:text="${board.seq}"></td>

        <td> <a th:href="@{/board/getBoard(
                                seq=${board.seq}
                                )}"
                th:text="${board.title}"></a></td>

        <td th:text="${board.writer}"></td>

        <td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${board.cnt}"></td>
    </tr>
</table>
<a th:href="@{/board/insertBoard}">글등록</a>
</body>
</html>