<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:align="center">
<h1>게시글 등록</h1>
<form th:action="@{/board/insertBoard}" method="post" enctype="multipart/form-data">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td bgcolor="#add8e6" th:text="제목" width="80"></td>

            <td><input name="title" type="text" size="50"></td>

        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="작성자" width="80"></td>
            <td><input name="writer" type="text" size="10"></td>
        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="내용" width="80"></td>
            <td><textarea name="content" cols="50" rows="10"></textarea>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="게시글 등록">
            </td>
        </tr>
    </table>
<hr>
    <input type="file" name="uploadfile" multiple="multiple"/>
</form>
<a th:href="@{/board/getBoardList}">글목록</a>
</body>
</html>