<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--1. DROP TABLE MEMBER;-->
<!--2. HTML에서 name을 board.id > id (password)-->

<form th:action="@{/account/insertAccount}" method="post">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td bgcolor="#add8e6" th:text="ID" width="80"></td>
            <td><input name="id" type="text" th:placeholder="ID" size="50"></td>

        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="PASSWORD" width="80"></td>
            <td><input name="password" type="text" th:placeholder="PASSWORD" size="10"></td>
        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="EMAIL" width="80"></td>
            <td><input name="email" type="text" th:placeholder="EMAIL" size="50"></td>

        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="회원등록">
            </td>
        </tr>
    </table>
</form>

</body>
</html>